body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: Black;
  color: White; 
}

h1 {
  font-family: verdana, arial, sans-serif;
  background-color: Red;
  color: White; 
}

button {
  padding: 15px;
  border-radius: 15px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}